.image-box{
	column-count: 3;
	column-gap: 3px;
	width: 80%;
	max-width: 1400px;
	margin: auto;
	padding: 3px;
}
.img{
	max-width: 100%;
	display: block;
}

.image-wrapper{
	display: block;
	opacity: 0.6;
	transition: 2s ;
	filter: grayscale(10);
}
.image-wrapper+.image-wrapper{
	margin: 3px 0;
}
.image-wrapper:hover{
	opacity: 1;
	filter:  hue-rotate(180deg);

}










